.we-do {
    padding-bottom: 94px;
    padding-top: 50px;
    display: none;
        @media screen and (min-width: 1200px){
            display: block;
            margin-right: auto;
        }
   

}

.we-do-paragraph-img{
    position: relative;
    display: block;
    
}
.we-do-overlay{
    position: absolute;
    font-family: Roboto;
    transform: translateY(-100%);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 100%;
    padding: 27px 82px;

}



.we-do-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
    
}
.we-do-paragraph {
    margin-top: 30px;
    margin-left: 30px;


}
.we-do-section{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--names-links-color);
    margin-bottom: 50px;
    
}