.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    text-decoration: none;
    //margin-right: 94px;
    

}

.logo__firs-part {
    color: var(--botton-collor);
}

.logo__sacond-part {
    color: #000000;
}

.logo__sacond-part-footer{
    color: #FFFFFF;
}